.header-text {
    /* background-color: grey; */
    font-size: xx-large;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 20px 0;
    margin-top: 0px;
    text-align: center;
    border-bottom: white 1px solid;
    width: 100vw;
}