    .update-puppy_form {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .update-puppy_form label {
        margin-bottom: -5px;
    }
    .update-submit-button {
        width: 100px;
        padding: 10px 0px 10px;
        font-size: 16px;
        margin: 3px 0px -5px;
        align-self: center;
        border: hidden;
        background-color: rgb(98, 96, 92);
        color: rgb(216, 216, 216);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .update-submit-button:hover {
        background-color: grey;
        cursor: pointer;
        border: 1px solid wheat;
    }
    
    .update-puppy_form input {
        align-self: center;
        width: 50%;
        height: 3px;
        margin: 3%;
        padding: 8px 16px;
        font-size: 90%;
        text-align: center;
        line-height: 18px;
        color: rgb(241, 236, 214);
        background-color: rgba(255, 255, 255, 0.247);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 8px;
        border: 1px solid rgb(241, 236, 214);
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
    .update-puppy_form input::placeholder {
        color: rgb(241, 236, 214);
    }
    
    
    .update-puppy_form input:focus {
        outline: 0;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid rgb(241, 236, 214);
        background-position: 100% center;
        border-radius: 0px;
        }
