@media only screen and (max-width: 600px) {
    .update-puppy_form {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .update-submit-button {
        width: 100px;
        padding: 10px 0px 10px;
        font-size: 16px;
        margin: 10px auto;
        align-self: center;
        border: hidden;
        background-color: rgb(98, 96, 92);
        color: rgb(216, 216, 216);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .update-submit-button:hover {
        background-color: grey;
        cursor: pointer;
        border: 1px solid wheat;
    }
    
    .update-puppy_form input {
        padding: 5px;
        margin: 6px;
        width: 142px;
        align-self: center;
    }

}