.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(50, 52, 53);
}
html {
  background-color: rgb(50, 52, 53);
  height: 100%;
  width: 100%;
}